@media screen and (max-width: 640px){
  .sidebar {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    padding-top: 4rem;
    transition: 0.3s;
  }

  .sidebar a {
    padding: 1.25rem;
    transition: 0.5s;
    text-align: left;
  }

  .sidebar .closebtn {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }
}

